body {
    font-family: 'Poppins', sans-serif;
    background: #68A7AD;
    /* background: linear-gradient(90deg, rgba(222,182,171,1) 0%, rgba(133,88,111,1) 100%); */
    color: #525E75;
}

.page-wrap {
    width: 90vw;
    margin: 0 auto;
}

.dashboard {
    border-radius: 1rem;
    background-color: #fff;
    display: grid;
    grid-template-columns: .25fr 1fr;
    grid-template-rows: 85vh;
    overflow: hidden;
    margin-top: 3rem;
}

.menu {
    background-color: #E5CB9F;
    color: #525E75;
    position: relative;

    h1 {
        margin: .5rem 0 1rem;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1;
    }

    p {
        font-size: .6rem;
        line-height: 1;
        text-align: center;
        position: absolute;
        bottom: 1rem;
        left: 0;
        right: 0;
    }
}

.menu,
.page {
    padding: 1rem;
}

.page {
    overflow-y: auto;
    max-height: 90%;
}

nav {
    ul {
        padding: 0;
        margin: 0.2rem 0 0;
        li {
            list-style: none;
            padding: 0 1.5rem;
            border-bottom: 1px solid #525E75;
        }
    }

    a {
        color: #525E75;
        text-decoration: none;
        padding: .5rem 0;
        display: inline-block;
        font-size: 0.9rem;
        line-height: 1;
        transition: all .2s ease-in-out;

        &.active {
            font-weight: 600;
        }
    }
}

.row,
.header {
    display: grid;
    grid-template-columns: .3fr 1.5fr .5fr .5fr .5fr .5fr .2fr;
    padding: 0.6rem 1rem;
    border-bottom: solid 1px #DAE5D0;
}

.header {
    font-size: .6rem;
    font-weight: 600;
    line-height: 1;
}

.row {
    font-size: .7rem;
    font-weight: 300;
    line-height: 1;

    .name {
        display: flex;
        align-items: center;

        img {
            margin-right: .5rem;
        }

        span {
            display: block;

            &:first-child {
                text-transform: capitalize;
            }

            &:last-child {
                font-size: .5rem;
            }
        }
    }

    .socket {
        text-align: center;
        span {
            display: block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin: 0 auto;
        }

        &.on span {
            background-color: #9CF196;
        }
        
        &.off span {
            background-color: #EF4B4B;
        }
    }
}